---
layout: null
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ScalaMatsuri 2018｜日本最大級の Scala のカンファレンス</title>
		<meta name="description" content="Scala をテーマに日本最大級のカンファレンスが開催されます。">
		<meta name="keywords" content="Scala,スカラ,カンファレンス,2018">

        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#2d88ef">
        <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">

		<meta property="og:title" content="ScalaMatsuri 2018｜日本最大級の Scala カンファレンス" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://scalamatsuri.org/" />
	<meta property="og:image" content="http://scalamatsuri.org/img/common/img_repre2.png" />
	<meta property="og:site_name" content="ScalaMatsuri 2018｜日本最大級の Scala のカンファレンス" />
	<meta property="og:locale" content="ja_JP" />
	<meta property="og:description" content="Scala をテーマに日本最大級のカンファレンスが開催されます。" />

		<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="http://scalamatsuri.org/">
	<meta name="twitter:title" content="ScalaMatsuri 2018｜日本最大級の Scala のカンファレンス">
	<meta name="twitter:description" content="Scala をテーマに日本最大級のカンファレンスが開催されます。">
	<meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2.png">

		<link href="css/common.css" rel="stylesheet" type="text/css">
		<!--<link href="css/elements.css" rel="stylesheet" type="text/css">-->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/respond.src.js"></script>
	<script src="js/shuffle.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<script type="text/javascript">
	if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
					document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
			}else{
					document.write('<meta name="viewport" content="width=device-width" />');
			}
	</script>


	<!--[if lt IE 9]>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/scalamatsuri2018.js?v=v{{ site.time | date_to_xmlschema }}"></script>
	<script>
		var lang = 'ja';
	</script>
</head>
<body id="top">
	<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=563078517069914";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div id="wrapper" class="clearfix">

		<header class="mainHeader">
			<nav class="gnav pcVer">
				<ul class="clearfix">
					<li><a href="/#top">トップ</a></li>
					{% for item in site.data.nav_ja %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
					<li><a href="/index_en.html">English</a></li>
				</ul>
			</nav>
			<nav class="gnav smVer">
				<p class="gnavSmClick"><img src="img/common/icon_menu.png"></p>
				<ul class="clearfix smVerGnav">
					<li><a href="#top">トップ</a></li>
					{% for item in site.data.nav_ja %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="mainVis">

			<p class="smVer linkLang"><a href="/index_en.html">&raquo;&ensp;English</a></p>

			<ul class="snsBtnArea clearfix">
						<li class="btnpocket">
								<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
							<li class="gplusBtn">
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="medium" data-annotation="none"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'ja'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.ja.twitter }}" data-related="{{ site.ja.twitter }}" data-hashtags="ScalaMatsuri" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></li>
						</ul>


			<div class="mainVisInner">

				<h1><img src="img/common/img_main_txt.png" alt="ScalaMatsuri 2014" /></h1>
				<p class="timeData">
					2018<span>年</span>3<span>月</span>16〜18<span>日</span></p>
				<p class="txtData">
					Scala をテーマにした<br>
					日本最大級のカンファレンスが開催されます。</p>
				<br/>
				<p>※ 16日は日本語でのトレーニングDay、17~18日は日本語/英語でのカンファレンスとアンカンファレンスが開催されます。</p>
			</div>
		</section>

		<section class="sectionStyle2" id="info">
			<div class="sectionStyle2Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">開催概要</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
					<p class="subTtlSm">Event Info</p>
				</header>
				<div class="contArea">
					<p>
						また、<a href="https://twitter.com/scala_jp">twitter</a>や<a href="https://www.facebook.com/ScalaMatsuri">facebook</a>でも随時情報を発信していますので、是非フォロー/いいねをお願いします。
					</p>
					<table>
						<tr>
							<th>日程</th>
							<td>
								2018年3月16日(金)、3月17日(土)、3月18日(日)<br/>
								※ 16日は日本語でのトレーニングDay、17~18日は日本語/英語でのカンファレンスとアンカンファレンスが開催されます。
							</td>
						</tr>
						<tr>
							<th>会場</th>
							<td>
								<a href="http://www.jasso.go.jp/tiec/plazaheisei.html" target="_blank">
									東京国際交流館
								</a>
							</td>
						</tr>

						<tr>
							<th>チケット</th>
							<td>参加にはチケットが必要です。詳細は後日改めてご案内致します。</td>
						</tr>

					</table>
				</div>
			</div>
		</section>

		<section class="sectionStyle5">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">Scala Matsuri をシェア</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">Social Share</p>
			</header>
			<div>
				<ul class="snsBtnArea snsBtnAreaMiddle clearfix">
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
							<li>
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="tall"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'ja'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.ja.twitter }}" data-related="{{ site.ja.twitter }}" data-hashtags="ScalaMatsuri" data-lang="ja" data-count="vertical">ツイート</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li>
								<a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
								<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
						</ul>
			</div>
			<div class="widgets">
				<div class="widget">
					{% include twitter_widget.html %}
				</div>
				<div class="widget">
					{% include freewind.html rss="http://blog.scalamatsuri.org/feed"  %}
				</div>
			</div>
		</section>

    <section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">セッション募集</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm">Call for proposal</p>
      </header>
      <div class="contArea cfp-link">
        <a href="/ja/cfp/">Scala Matsuri 2018 セッションの募集</a>をご覧ください。
      </div>
    </section>

		<section class="sectionStyleCoC">
			<div class="sectionStyle1Inner">
				<div class="txtBlock">
					<p>
						Scala Matsuri は、様々な地域やコミュニティから集う技術者に対して開かれたカンファレンスを目指しています。特に、性別や人種など、多様な背景を持つ人々が互いに敬意を払って楽しい時間を過ごせるよう、当カンファレンスでは、発表者や参加者、スポンサーの皆様に行動規範を守っていただくようにお願いしています。
					</p>
					<p>
						Scala Matsuri の主催者は、行動規範の趣旨に反してハラスメント行為を行う参加者に対して、発表の中止や会場からの退出を指示する場合があります。行動規範についてご質問がある場合は、お近くのスタッフ
						<!-- または（ここに問い合わせフォームへのリンク） -->
						までお問い合わせください。
					</p>
				</div>
			</div>
		</section>

		<section class="sectionInquiry">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">お問い合わせ</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
			</header>
			<div class="txtBlock">
				<p>
					Scala Matsuri については
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSfiRa3AIShPAPaZJ5o1sKfdvUzwMlP6Mysw_qnVsI9o1zocuw/viewform">
						こちらのフォーム
					</a>
					からお問い合わせください。
				</p>
			</div>
		</section>

		<section class="sectionInquiry" id="sp">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">スポンサー</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">Sponsor</p>
			</header>
			<div class="txtBlock">
				<p>2017 10/31 (火) 15:00 JSTより、募集開始致します</p>
			</div>

			<div class="sectionStyle7Inner">
				<article class="spBox">
  					<h3 class="ttlspBox1 spLv6">奉行スポンサー</h3>
  						<ul class="clearfix shuffle">
	    					  {% for logo in site.data.logos.bugyo %}
	   					   <li>
		          				<div class="bugyoLogo">
				        			<p>{{ logo.category_ja }}</p>
				              			<a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a>
				           		 </div>
			          		  </li>
						  {% endfor %}
  						</ul>
				</article>  
		</section>

		{% include footer.html %}

	</div>
	{% include ga.html %}
	<div id="dialog_message"></div>
</body>
</html>
