---
layout: null
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ScalaMatsuri 2018 | The largest international Scala conference in Asia</title>
		<meta name="description" content="The largest international Scala conference in Asia">
		<meta name="keywords" content="Scala, conference">

        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#2d88ef">
        <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">


		<meta property="og:title" content="ScalaMatsuri 2018 | The largest international Scala conference in Asia" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://scalamatsuri.org/index_en.html" />
	<meta property="og:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png" />
	<meta property="og:site_name" content="ScalaMatsuri 2018｜The largest international Scala conference in Asia" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:description" content="The largest international Scala conference in Asia" />

		<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="http://scalamatsuri.org/">
	<meta name="twitter:title" content="ScalaMatsuri 2018｜The largest international Scala conference in Asia">
	<meta name="twitter:description" content="The largest international Scala conference in Asia">
	<meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png">

		<link href="css/common.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/respond.src.js"></script>
	<script src="js/shuffle.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<script type="text/javascript">
	if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
					document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
			}else{
					document.write('<meta name="viewport" content="width=device-width" />');
			}
	</script>


	<!--[if lt IE 9]>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/scalamatsuri2018.js?v=v{{ site.time | date_to_xmlschema }}"></script>
	<script>
		var lang = 'en';
	</script>
</head>
<body id="top">

	<div id="wrapper" class="clearfix">

		<header class="mainHeader">
			<nav class="gnav pcVer">
				<ul class="clearfix">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_en %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
					<li><a href="/">日本語</a></li>
					<li><a href="/index_zh-cn.html">简体中文</a></li>
					<li><a href="/index_zh-tw.html">繁體中文</a></li>
				</ul>
			</nav>
			<nav class="gnav smVer">
				<p class="gnavSmClick"><img src="img/common/icon_menu.png"></p>
				<ul class="clearfix smVerGnav">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_en %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="mainVis">

			<p class="smVer linkLang"><a href="/">&raquo;&ensp;日本語</a></p>
			<p class="smVer linkLang"><a href="/index_zh-cn.html">&raquo;&ensp;简体中文</a></p>
			<p class="smVer linkLang"><a href="/index_zh-tw.html">&raquo;&ensp;繁體中文</a></p>

      <ul class="snsBtnArea clearfix">
        <li class="btnpocket">
          <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
        </li>
        <li class="gplusBtn">
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </li>
        <li>
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-via="{{ site.en.twitter }}"
             data-related="{{ site.en.twitter }}"
             data-hashtags="ScalaMatsuri"
             data-count="none">
            Tweet
          </a>
        </li>
        <li>
          <div class="fb-like"
               data-href="http://scalamatsuri.org/"
               data-layout="button"
               data-action="like"
               data-show-faces="true"
               data-share="false">
          </div>
        </li>
        <li>
          <a href="http://b.hatena.ne.jp/entry/"
             class="hatena-bookmark-button"
             data-hatena-bookmark-layout="basic"
             title="このエントリーをはてなブックマークに追加">
            <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                 alt="このエントリーをはてなブックマークに追加"
                 width="20"
                 height="20"
                 style="border: none;"/>
          </a>
        </li>
      </ul>

      <div class="mainVisInner">
				<h1><img src="img/common/img_main_txt.png" alt="ScalaMatsuri 2018" /></h1>
				<p class="timeData">
          16th - 18th March, 2018 in Tokyo
        </p>
				<p class="txtData">
          The largest international Scala conference in Asia
        </p>
				<p>Note: Conference and unconference in English/Japanese will be on 17th-18th March. Trainings in Japanese will be on 16th March.</p>
        <div class="logoArea">
          <h2 class="clearfix">
            <span class="ttlSpAreaTop">Shogun sponsor</span>
            <span class="linelSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
            <span class="linerSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
          </h2>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.shogun %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
		</section>

    <section class="sectionStyle7 smVer topBannerArea">
      <div class="sectionStyle7Inner">
        <article class="spBox">
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.shogun %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </section>
  
		<section class="sectionStyle2" id="info">
			<div class="sectionStyle2Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">Event Info</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
          <p class="subTtlSm"></p>
				</header>
				<div class="contArea">
					<!--
					<p>Scala に関する海外からのゲストスピーカーも招いた大規模な有料イベントです。 パラレルに 2 セッションで進行する予定です。一般募集のセッションや LT 大会も行う予定です。 懇親会についても行う予定ですが、現在調整中です。</p>
					-->
					<p>
						We announce the news at <a href="https://twitter.com/scala_jp">twitter</a> and <a href="https://www.facebook.com/ScalaMatsuri">facebook</a>.Please follow/like.
					</p>
					<table>
						<tr>
							<th>Dates</th>
							<td>
								16th(Fri.) - 18th(Sun.) March in 2018<br/>
								Note: Conference and unconference in English/Japanese will be on 17th-18th March. Trainings in Japanese will be on 16th March.
							</td>
						</tr>
						<tr>
							<th>Venue</th>
							<td>
								<a href="http://www.jasso.go.jp/tiec/index_e.html" target="_blank">
									Tokyo International Exchange Center
								</a>
							</td>
						</tr>
						<tr>
							<th>Tickets</th>
              <td>
                Please purchase the tickets from <a href='https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}'>DoorKeeper</a>.
              </td>
						</tr>
					</table>
				</div>
			</div>
		</section>

    {% include program/section.html program=site.data.program_en %}

    <section class="sectionStyle5">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">Share ScalaMatsuri</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
        <p class="subTtlSm">Social Share</p>
      </header>
      <div>
        <ul class="snsBtnArea snsBtnAreaMiddle clearfix">

          <li>
            <a href="http://b.hatena.ne.jp/entry/"
               class="hatena-bookmark-button"
               data-hatena-bookmark-layout="vertical-normal"
               data-hatena-bookmark-lang="en"
               title="このエントリーをはてなブックマークに追加">
              <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                   alt="このエントリーをはてなブックマークに追加"
                   width="20"
                   height="20"
                   style="border: none;"/>
            </a>
          </li>

          <li>
            <div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="box_count" data-action="like"
                 data-show-faces="true" data-share="false"></div>
          </li>

          <li>
            <a class="twitter-share-buttoon"
               href="https://twitter.com/share"
               data-url="{{ site.url }}{{ page.url }}"
               data-via="{{ site.en.twitter }}"
               data-related="{{ site.en.twitter }}"
               data-hashtags="ScalaMatsuri"
               data-lang="en"
               data-count="vertical">
              Tweet
            </a>
          </li>

          <li>
            <div class="g-plusone" data-size="tall"></div>
          </li>

          <li>
            <a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
          </li>
        </ul>
      </div>
			<div class="widgets">
					<div class="widget">
						{% include twitter_widget.html %}
					</div>
					<div class="widget">
						{% include freewind.html rss="http://blog-en.scalamatsuri.org/feed"  %}
					</div>
			</div>

		</section>

    <!-- <section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">Call for Proposal</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm"></p>
      </header>
      <div class="contArea cfp-link">
        Please refer to <a href="/en/cfp/">ScalaMatsuri 2018 Call for Proposal</a>.
      </div>
    </section> 
    -->
    <section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        Thank you for your proposals.
      </header>
    </section>
		<section class="sectionStyleCoC">
			<div class="sectionStyle1Inner">
				<div class="txtBlock">
					<p>
						ScalaMatsuri is dedicated to providing an open conference for all technologists from various regions and communities. We want to make it a fun experience for everyone, regardless of gender, race, and many different backgrounds. All participants, including speakers and sponsors, are asked to be respectful to each other and follow the Code of conduct.
					</p>
					<p>
						Conference participants violating these rules may be asked to stop the session or leave the conference at the sole discretion of the conference organizers. If you have any questions about the Code of conduct, please ask us on the <a href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">inquiry form</a>.
					</p>
				</div>
			</div>
		</section>

    {% include ticket_en.html %}

    {% include sponsors/logos_en.html %}

    {% include footer.html %}

	</div>
	{% include ga.html %}
  {% include twitter.html %}
  {% include facebook_en.html %}
  {% include hatena_bbutton.html %}
  {% include widgetoon.js.html %}
  {% include pocket.js.html %}
  {% include g-plusone_en.js.html %}
  {% include doorkeeper.js.html %}

  <div id="dialog_message"></div>
</body>
</html>
