---
layout: null
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ScalaMatsuri 2018 | 亞洲最大的 Scala 國際會議</title>
		<meta name="description" content="亞洲最大的 Scala 國際會議">
		<meta name="keywords" content="Scala, conference">

        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#2d88ef">
        <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">


		<meta property="og:title" content="ScalaMatsuri 2018 | 亞洲最大的 Scala 國際會議" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://scalamatsuri.org/index_zh-tw.html" />
	<meta property="og:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png" />
	<meta property="og:site_name" content="ScalaMatsuri 2018｜亞洲最大的 Scala 國際會議" />
	<meta property="og:locale" content="zh_TW" />
	<meta property="og:description" content="亞洲最大的 Scala 國際會議" />

		<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="http://scalamatsuri.org/index_zh-tw.html">
	<meta name="twitter:title" content="ScalaMatsuri 2018｜亞洲最大的 Scala 國際會議">
	<meta name="twitter:description" content="亞洲最大的 Scala 國際會議">
	<meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png">

		<link href="css/common.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/respond.src.js"></script>
	<script src="js/shuffle.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<script type="text/javascript">
	if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
					document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
			}else{
					document.write('<meta name="viewport" content="width=device-width" />');
			}
	</script>


	<!--[if lt IE 9]>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/scalamatsuri2018.js?v=v{{ site.time | date_to_xmlschema }}"></script>
	<script>
		var lang = 'en';
	</script>
</head>
<body id="top">

	<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=563078517069914";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div id="wrapper" class="clearfix">

		<header class="mainHeader">
			<nav class="gnav pcVer">
				<ul class="clearfix">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_zh-TW %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
					<li><a href="/">日本語</a></li>
					<li><a href="/index_en.html">English</a></li>
					<li><a href="/index_zh-cn.html">简体中文</a></li>
				</ul>
			</nav>
			<nav class="gnav smVer">
				<p class="gnavSmClick"><img src="img/common/icon_menu.png"></p>
				<ul class="clearfix smVerGnav">
					<li><a href="#top">Top</a></li>
					{% for item in site.data.nav_zh-TW %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="mainVis">

			<p class="smVer linkLang"><a href="/">&raquo;&ensp;日本語</a></p>
			<p class="smVer linkLang"><a href="/index_en.html">&raquo;&ensp;English</a></p>
			<p class="smVer linkLang"><a href="/index_zh-cn.html">&raquo;&ensp;简体中文</a></p>

			<ul class="snsBtnArea clearfix">
						<li class="btnpocket">
								<a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
							<li class="gplusBtn">
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="medium" data-annotation="none"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'zh-TW'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.en.twitter }}" data-related="{{ site.en.twitter }}" data-hashtags="ScalaMatsuri" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></li>
						</ul>


			<div class="mainVisInner">

				<h1><img src="img/common/img_main_txt.png" alt="ScalaMatsuri 2018" /></h1>
				<p class="timeData">
					2018<span>年</span>3<span>月</span>16〜18<span>日</span></p>
				<p class="txtData">
					亞洲最大的 Scala 國際會議</p>
				<br/>
				<p>※ 16日為日語的 Scala 訓練日，17～18日為英語及日語的正式會議及非正式會議</p>
			</div>
		</section>

		<section class="sectionStyle2" id="info">
			<div class="sectionStyle2Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">活動說明</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
          <p class="subTtlSm">Event Info</p>
				</header>
				<div class="contArea">
					<!--
					<p>Scala に関する海外からのゲストスピーカーも招いた大規模な有料イベントです。 パラレルに 2 セッションで進行する予定です。一般募集のセッションや LT 大会も行う予定です。 懇親会についても行う予定ですが、現在調整中です。</p>
					-->
					<p>
						相關資訊會在 <a href="https://twitter.com/scala_jp">twitter</a> 及 <a href="https://www.facebook.com/ScalaMatsuri">facebook</a> 陸續發布，請隨時關注。
					</p>
					<table>
						<tr>
							<th>Dates</th>
							<td>
								日期　2018年3月16日(星期五)、3月17日(星期六)、3月18日(星期日)<br/>
								※ 16日為日語的 Scala 訓練日，17～18日為英語及日語的正式會議及非正式會議
							</td>
						</tr>
						<tr>
							<th>地點</th>
							<td>
								<a href="http://www.jasso.go.jp/tiec/index_e.html" target="_blank">
									東京國際交流館
								</a>
							</td>
						</tr>
						<tr>
							<th>票務資訊</th>
							<td>參加會議需要門票，購票訊息將會在日後公布</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<section class="sectionStyle5">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">分享 ScalaMatsuri</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">Social Share</p>
			</header>
			<br/>
			<div>
				<ul class="snsBtnArea snsBtnAreaMiddle clearfix">
							<li><div class="fb-like" data-href="http://scalamatsuri.org/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
							<li>
								<!-- +1 ボタン を表示したい位置に次のタグを貼り付けてください。 -->
								<div class="g-plusone" data-size="tall"></div>
								<!-- 最後の +1 ボタン タグの後に次のタグを貼り付けてください。 -->
								<script type="text/javascript">
									window.___gcfg = {lang: 'zh-TW'};
									(function() {
										var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										po.src = 'https://apis.google.com/js/platform.js';
										var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
									})();
								</script>
							</li>
							<li>
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.en.twitter }}" data-related="{{ site.en.twitter }}" data-hashtags="ScalaMatsuri" data-lang="en" data-count="vertical">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
							</li>
							<li>
								<a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
								<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
							</li>
						</ul>
			</div>
			<div class="widgets">
					<div class="widget">
						{% include twitter_widget.html %}
					</div>
					<div class="widget">
						{% include freewind.html rss="http://blog-en.scalamatsuri.org/feed"  %}
					</div>
			</div>

		</section>

    <section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">項目建議徵集</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm">Call for Proposal</p>
      </header>
      <div class="contArea cfp-link">
        Please refer to <a href="/en/cfp/">Scala Matsuri 2018 Call for Proposal</a>.
      </div>
    </section>

		<section class="sectionStyleCoC">
			<div class="sectionStyle1Inner">
				<div class="txtBlock">
					<p>
						Scala Matsuri 致力於提供給不限群體及地域的科技開發者一個公開平台。我們想將其打造成所有人都可以從中獲得有趣的經驗，不論性別、種族以及背景。所有的參加者，包含演講者及贊助商都需互相尊重及遵守活動官方的規範 (Code of Conduct)。
					</p>
					<p>
						會議參加者如果違反規範，Scala Matsuri 主辦單位有權決定發表的終止或要求其離開會場。如果有關於活動規範的疑問，請詢問工作人員或填寫此<a href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">表格</a>。
					</p>
				</div>
			</div>
		</section>

		<section class="sectionStyle7" id="sp">
					<header class="sectionHeadArea">
						<h2 class="clearfix">
							<span class="ttlSubLCenter">贊助</span>
							<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
							<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
						</h2>
						<p class="subTtlSm">Sponsors</p>
					</header>
					<div class="sectionStyle7Inner">
						<article class="spBox">
							<h3 class="ttlspBox1 spLv6">Bugyo sponsor</h3>
							<ul class="clearfix shuffle">
								{% for logo in site.data.logos.bugyo %}
								<li>
									<div class="bugyoLogo">
										<p>{{ logo.category_en }}</p>
										<a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a>
									</div>
								</li>
								{% endfor %}
							</ul>
						</article>
					</div>
				</section>

		{% include footer.html %}

	</div>
	{% include ga.html %}
	<div id="dialog_message"></div>
</body>
</html>
