---
layout: null
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ScalaMatsuri 2018 | 亞洲最大的 Scala 國際會議</title>
		<meta name="description" content="亞洲最大的 Scala 國際會議">
		<meta name="keywords" content="Scala, conference">

        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="icon" href="/img/favicons/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#2d88ef">
        <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">


		<meta property="og:title" content="ScalaMatsuri 2018 | 亞洲最大的 Scala 國際會議" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://scalamatsuri.org/index_zh-tw.html" />
	<meta property="og:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png" />
	<meta property="og:site_name" content="ScalaMatsuri 2018｜亞洲最大的 Scala 國際會議" />
	<meta property="og:locale" content="zh_TW" />
	<meta property="og:description" content="亞洲最大的 Scala 國際會議" />

		<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="http://scalamatsuri.org/index_zh-tw.html">
	<meta name="twitter:title" content="ScalaMatsuri 2018｜亞洲最大的 Scala 國際會議">
	<meta name="twitter:description" content="亞洲最大的 Scala 國際會議">
	<meta name="twitter:image" content="http://scalamatsuri.org/img/common/img_repre2_en.png">

		<link href="css/common.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="js/respond.src.js"></script>
	<script src="js/shuffle.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<script type="text/javascript">
	if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
					document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">');
			}else{
					document.write('<meta name="viewport" content="width=device-width" />');
			}
	</script>


	<!--[if lt IE 9]>
	<script src="js/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/scalamatsuri2018.js?v=v{{ site.time | date_to_xmlschema }}"></script>
	<script>
		var lang = 'en';
	</script>
</head>
<body id="top">

	<div id="wrapper" class="clearfix">

		<header class="mainHeader">
			<nav class="gnav pcVer">
				<ul class="clearfix">
					<li><a href="#top">首頁</a></li>
					{% for item in site.data.nav_zh-TW %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
					<li><a href="/">日本語</a></li>
					<li><a href="/index_en.html">English</a></li>
					<li><a href="/index_zh-cn.html">简体中文</a></li>
				</ul>
			</nav>
			<nav class="gnav smVer">
				<p class="gnavSmClick"><img src="img/common/icon_menu.png"></p>
				<ul class="clearfix smVerGnav">
					<li><a href="#top">首頁</a></li>
					{% for item in site.data.nav_zh-TW %}
						<li><a href="{{ item.href }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="mainVis">

			<p class="smVer linkLang"><a href="/">&raquo;&ensp;日本語</a></p>
			<p class="smVer linkLang"><a href="/index_en.html">&raquo;&ensp;English</a></p>
			<p class="smVer linkLang"><a href="/index_zh-cn.html">&raquo;&ensp;简体中文</a></p>

      <ul class="snsBtnArea clearfix">
        <li class="btnpocket">
          <a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>
        </li>
        <li class="gplusBtn">
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </li>
        <li>
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-via="{{ site.en.twitter }}"
             data-related="{{ site.en.twitter }}"
             data-hashtags="ScalaMatsuri"
             data-count="none">
            Tweet
          </a>
        </li>
        <li>
          <div class="fb-like"
               data-href="http://scalamatsuri.org/"
               data-layout="button"
               data-action="like"
               data-show-faces="true"
               data-share="false">
          </div>
        </li>
        <li>
          <a href="http://b.hatena.ne.jp/entry/"
             class="hatena-bookmark-button"
             data-hatena-bookmark-layout="basic"
             title="このエントリーをはてなブックマークに追加">
            <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                 alt="このエントリーをはてなブックマークに追加"
                 width="20"
                 height="20"
                 style="border: none;"/>
          </a>
        </li>
      </ul>


			<div class="mainVisInner">

				<h1><img src="img/common/img_main_txt.png" alt="ScalaMatsuri 2018" /></h1>
				<p class="timeData">
					2018<span>年</span>3<span>月</span>16〜18<span>日</span></p>
				<p class="txtData">
					亞洲最大的 Scala 國際會議</p>
				<br/>
				<p>※ 16日爲Scala的學習體驗討論會（僅日語），17～18日爲各種正式及非正式演講（日語、英語）</p>
				<div class="logoArea">
          <h2 class="clearfix">
            <span class="ttlSpAreaTop">Shogun sponsor</span>
            <span class="linelSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
            <span class="linerSpAreaTop"><img src="img/common/ttl_main_line.png" alt="" /></span>
          </h2>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.shogun %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </div>
			</div>
		</section>

		<section class="sectionStyle7 smVer topBannerArea">
      <div class="sectionStyle7Inner">
        <article class="spBox">
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.shogun %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </section>

		<section class="sectionStyle2" id="info">
			<div class="sectionStyle2Inner">
				<header class="sectionHeadArea">
					<h2 class="clearfix">
						<span class="ttlSubLCenter">活動說明</span>
						<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
						<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
					</h2>
          <p class="subTtlSm">Event Info</p>
				</header>
				<div class="contArea">
					<!--
					<p>Scala に関する海外からのゲストスピーカーも招いた大規模な有料イベントです。 パラレルに 2 セッションで進行する予定です。一般募集のセッションや LT 大会も行う予定です。 懇親会についても行う予定ですが、現在調整中です。</p>
					-->
					<p>
						相關資訊會在 <a href="https://twitter.com/scala_jp">twitter</a> 及 <a href="https://www.facebook.com/ScalaMatsuri">facebook</a> 陸續發布，請隨時關注。
					</p>
					<table>
						<tr>
							<th>Dates</th>
							<td>
								日期　2018年3月16日(星期五)、3月17日(星期六)、3月18日(星期日)<br/>
								※ 16日爲Scala的學習體驗討論會（僅日語），17～18日爲各種正式及非正式演講（日語、英語）
							</td>
						</tr>
						<tr>
							<th>地點</th>
							<td>
								<a href="http://www.jasso.go.jp/tiec/index_e.html" target="_blank">
									東京國際交流館
								</a>
							</td>
						</tr>
						<tr>
							<th>票務資訊</th>
              <td>
                Please purchase the tickets from <a href='https://scalaconfjp.doorkeeper.jp/events/{{ site.doorkeeper.event.id }}'>DoorKeeper</a>.
              </td>
            </tr>
					</table>
				</div>
			</div>
		</section>

		<section class="sectionStyle5">
			<header class="sectionHeadArea">
				<h2 class="clearfix">
					<span class="ttlSubLCenter">分享 ScalaMatsuri</span>
					<span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
					<span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
				</h2>
				<p class="subTtlSm">Social Share</p>
			</header>
			<br/>
			<div>
        <ul class="snsBtnArea snsBtnAreaMiddle clearfix">

          <li>
            <a href="http://b.hatena.ne.jp/entry/"
               class="hatena-bookmark-button"
               data-hatena-bookmark-layout="vertical-normal"
               data-hatena-bookmark-lang="en"
               title="このエントリーをはてなブックマークに追加">
              <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                   alt="このエントリーをはてなブックマークに追加"
                   width="20"
                   height="20"
                   style="border: none;"/>
            </a>
          </li>

          <li>
            <div class="fb-like"
                 data-href="http://scalamatsuri.org/"
                 data-layout="box_count"
                 data-action="like"
                 data-show-faces="true"
                 data-share="false">
            </div>
          </li>

          <li>
            <a class="twitter-share-buttoon"
               href="https://twitter.com/share"
               data-url="{{ site.url }}{{ page.url }}"
               data-via="{{ site.en.twitter }}"
               data-related="{{ site.en.twitter }}"
               data-hashtags="ScalaMatsuri"
               data-lang="en"
               data-count="vertical">
              Tweet
            </a>
          </li>

          <li>
            <div class="g-plusone" data-size="tall"></div>
          </li>

          <li>
            <a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
          </li>
        </ul>
			</div>
			<div class="widgets">
					<div class="widget">
						{% include twitter_widget.html %}
					</div>
					<div class="widget">
						{% include freewind.html rss="http://blog-en.scalamatsuri.org/feed"  %}
					</div>
			</div>

		</section>

    <!--<section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">投稿募集</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm">Call for Proposal</p>
      </header>
      <div class="contArea cfp-link">
        Please refer to <a href="/zh-tw/cfp/">ScalaMatsuri 2018 Call for Proposal</a>.
      </div>
    </section>-->
    <section class="sectionStyle3" id="cfp">
      <header class="sectionHeadArea">
        Thank you for your proposals.
      </header>
    </section>
      

		<section class="sectionStyleCoC">
			<div class="sectionStyle1Inner">
				<div class="txtBlock">
					<p>
						ScalaMatsuri 旨在爲來自各個地區，不同社區的開發者和提供一個開放的平台。我們希望這對所有人——不論性別、種族以及背景——都會是一段有趣的經歷。本次活動的所有參會人員（包括演講者及贊助商等）都需要互相尊重並遵守活動官方的行爲准則(CoC: Code of Conduct)。
					</p>
					<p>
						對于違反行爲准則的參會人員，ScalaMatsuri 主辦方有權終止演講或要求其離開會場。如果對于該行爲准則有疑問，可以詢問會議工作人員或填寫此<a href="https://docs.google.com/forms/d/1kVRSxCTTwTPh_o2MGi4p-Zy1BoUARAWdwc2nXVkoi-s/viewform">表單</a>。
					</p>
				</div>
			</div>
		</section>

    {% include ticket_zh-tw.html %}

    <section class="sectionInquiry" id="sp">

      <header class="sectionHeadArea">
        <h2 class="clearfix">
          <span class="ttlSubLCenter">Sponsors</span>
          <span class="ttlSubLLeft"><img src="img/common/ttl_dots_left.png"></span>
          <span class="ttlSubLRight"><img src="img/common/ttl_dots_right.png"></span>
        </h2>
        <p class="subTtlSm">Sponsor</p>
      </header>

      <div class="sectionStyle7Inner">

        <article class="spBox">
          <h3 class="ttlspBox1">Shogun sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.shogun %}
            <li class="shogunLogo">
              <a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a>
            </li>
            {% endfor %}
          </ul>
        </article>

        <article class="spBox">
          <h3 class="ttlspBox1 spLv2">Tairo sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.tairo %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>

        <article class="spBox">
          <h3 class="ttlspBox1 spLv3">Daimyo sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.daimyo %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>

        <article class="spBox">
          <h3 class="ttlspBox1 spLv4">Samurai sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.samurai %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>

        <article class="spBox">
          <h3 class="ttlspBox1 spLv5">Ninja sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.ninja %}
            <li><a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a></li>
            {% endfor %}
          </ul>
        </article>

        <article class="spBox">
          <h3 class="ttlspBox1 spLv6">Bugyo sponsor</h3>
          <ul class="clearfix shuffle">
            {% for logo in site.data.logos.bugyo %}
            <li>
              <div class="bugyoLogo">
                <p>{{ logo.category_en }}</p>
                <a href="{{ logo.href }}"><img src="{{ logo.img }}" alt="{{ logo.title }}" /></a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </section>

		{% include footer.html %}

	</div>
	{% include ga.html %}
  {% include twitter.html %}
  {% include facebook_zh_TW.html %}
  {% include hatena_bbutton.html %}
  {% include widgetoon.js.html %}
  {% include pocket.js.html %}
  {% include g-plusone_zh-TW.js.html %}
  {% include doorkeeper.js.html %}

  <div id="dialog_message"></div>
</body>
</html>
