{% assign template = include.program.schedule.template %}
{% assign day2 = include.program.day2 %}

<div class="programDailyTable" id="day2table">
  <h3 id="day2">{{ day2.date }}</h3>
  <p class="txtAbstract">
    {{ day2.abstract }}
  </p>
  <nav class="navLinks day2roomswitch" style="display: none;">
    <ul class="clearfix">
      <li class="btn1space"><span>{{ day2.rooms.a.abbr }}</span></li>
      <li class="btn2space"><span>{{ day2.rooms.b.abbr }}</span></li>
      <li class="btn3space"><span>{{ day2.rooms.c.abbr }}</span></li>
      <li class="btn4space"><span>{{ day2.rooms.d.abbr }}</span></li>
      <li class="btn5space"><span>{{ day2.rooms.e.abbr }}</span></li>
      <li class="btn6space"><span>{{ day2.rooms.f.abbr }}</span></li>
    </ul>
  </nav>
  <table class="programTable space1area">
    <tr>
      <th class="sectionTimeWidth">{{ section.time }}</th>
      <th class="roomA day2RoomWidth">{{ day2.rooms.a.name }}</th>
      <th class="roomB day2RoomWidth">{{ day2.rooms.b.name }}</th>
      <th class="roomC day2RoomWidth">{{ day2.rooms.c.name }}</th>
      <th class="roomD day2RoomWidth">{{ day2.rooms.d.name }}</th>
      <th class="roomE day2RoomWidth">{{ day2.rooms.e.name }}</th>
      <th class="roomF day2RoomWidth">{{ day2.rooms.f.name }}</th>
    </tr>
    <!--slot0-->
    <tr>
      <th>{{ day2.slots[0].time }}</th>
      <td colspan="6">{{ day2.slots[0].rooms.a.title }}</td>
    </tr>
    <!--slot1-->
    <tr>
      <th>{{ day2.slots[1].time }}</th>
      <td class="roomA">
        {{ day2.slots[1].rooms.a.title }}
      </td>
      <td class="roomB">&nbsp;</td>
      <td class="roomC">&nbsp;</td>
      <td class="roomD">&nbsp;</td>
      <td class="roomE">&nbsp;</td>
      <td class="roomF">&nbsp;</td>
    </tr>
    <!--slot2-->
    <tr>
      <th>{{ day2.slots[2].time }}</th>
      <td class="roomA" rowspan="2">
        {% capture title %}{{ day2.slots[2].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[2].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC" rowspan="2">
        {% capture title %}{{ day2.slots[2].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD" rowspan="2">
        {% capture title %}{{ day2.slots[2].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE" rowspan="2">
        {% capture title %}{{ day2.slots[2].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF" rowspan="2">
        {% capture title %}{{ day2.slots[2].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[2].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot3-->
    <tr>
      <th>{{ day2.slots[3].time }}</th>
      <td class="roomB">
        {% capture title %}{{ day2.slots[3].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[3].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot4-->
    <tr>
      <th>{{ day2.slots[4].time }}</th>
      <td colspan="6">{{ day2.slots[4].rooms.a.title }}</td>
    </tr>
    <!--slot5-->
    <tr>
      <th>{{ day2.slots[5].time }}</th>
      <td class="roomA" rowspan="2">
        {% capture title %}{{ day2.slots[5].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[5].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC" rowspan="2">
        {% capture title %}{{ day2.slots[5].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD" rowspan="2">
        {% capture title %}{{ day2.slots[5].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE" rowspan="2">
        {% capture title %}{{ day2.slots[5].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF" rowspan="2">
        {% capture title %}{{ day2.slots[5].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[5].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot6-->
    <tr>
      <th>{{ day2.slots[6].time }}</th>
      <td class="roomB">
        {% capture title %}{{ day2.slots[6].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[6].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot7-->
    <tr>
      <th>{{ day2.slots[7].time }}</th>
      <td colspan="6">{{ day2.slots[7].rooms.a.title }}</td>
    </tr>
    <!--slot8-->
    <tr>
      <th>{{ day2.slots[8].time }}</th>
      <td class="roomA">
        {% capture title %}{{ day2.slots[8].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[8].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC">
        {% capture title %}{{ day2.slots[8].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD">
        {% capture title %}{{ day2.slots[8].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE">
        {% capture title %}{{ day2.slots[8].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF">
        {% capture title %}{{ day2.slots[8].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[8].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot9-->
    <tr>
      <th>{{ day2.slots[9].time }}</th>
      <td colspan="6">{{ day2.slots[9].rooms.a.title }}</td>
    </tr>
    <!--slot10-->
    <tr>
      <th>{{ day2.slots[10].time }}</th>
      <td class="roomA">
        {% capture title %}{{ day2.slots[10].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[10].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC">
        {% capture title %}{{ day2.slots[10].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD">
        {% capture title %}{{ day2.slots[10].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE">
        {% capture title %}{{ day2.slots[10].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF">
        {% capture title %}{{ day2.slots[10].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[10].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot11-->
    <tr>
      <th>{{ day2.slots[11].time }}</th>
      <td colspan="6">{{ day2.slots[11].rooms.a.title }}</td>
    </tr>
    <!--slot12-->
    <tr>
      <th>{{ day2.slots[12].time }}</th>
      <td class="roomA">
        {% capture title %}{{ day2.slots[12].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[12].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC">
        {% capture title %}{{ day2.slots[12].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD">
        {% capture title %}{{ day2.slots[12].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE">
        {% capture title %}{{ day2.slots[12].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF">
        {% capture title %}{{ day2.slots[12].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[12].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot13-->
    <tr>
      <th>{{ day2.slots[13].time }}</th>
      <td colspan="6">{{ day2.slots[13].rooms.a.title }}</td>
    </tr>
    <!--slot14-->
    <tr>
      <th>{{ day2.slots[14].time }}</th>
      <td class="roomA">
        {% capture title %}{{ day2.slots[14].rooms.a.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.a.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomB">
        {% capture title %}{{ day2.slots[14].rooms.b.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.b.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomC">
        {% capture title %}{{ day2.slots[14].rooms.c.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.c.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomD">
        {% capture title %}{{ day2.slots[14].rooms.d.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.d.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomE">
        {% capture title %}{{ day2.slots[14].rooms.e.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.e.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
      <td class="roomF">
        {% capture title %}{{ day2.slots[14].rooms.f.title }}{% endcapture %}
        {% capture speaker %}{{ day2.slots[14].rooms.f.speaker }}{% endcapture %}
        {% include program/slot.html title=title speaker=speaker %}
      </td>
    </tr>
    <!--slot15-->
    <tr>
      <th>{{ day2.slots[15].time }}</th>
      <td class="roomA">
        {{ day2.slots[15].rooms.a.title }}
      </td>
      <td class="roomB">&nbsp;</td>
      <td class="roomC">&nbsp;</td>
      <td class="roomD">&nbsp;</td>
      <td class="roomE">&nbsp;</td>
      <td class="roomF">&nbsp;</td>
    </tr>
  </table>
</div>
